.main-layout-box {
  padding-left: 200px;
  &.no {
    padding-left: 0;
  }
}

.page-box {
  text-align: right;
  padding: 20px;
  .ans-page {
    display: inline-block;
  }
}

.home-main {
  min-height: calc(100vh - 100px);
  background: #fff;
  margin: 20px;
  border-radius: 3px;
  > .content-title {
    height: 48px;
    background: #f8fbfe;
    border-radius: 3px 3px 0 0;
    span {
      font-size: 22px;
      padding-left: 18px;
      padding-top: 10px;
      display: inline-block;
      color: #2a455b;
    }
  }
  .conditions-model {
    height: 50px;
    position: relative;
    .left {
      position: absolute;
      left: 12px;
      top: 13px;
    }
    .right {
      position: absolute;
      right: 8px;
      top: 13px;
      .from-box {
        .list {
          float: right;
          margin-right: 4px;
        }
      }
    }
  }
}

.clearfix,
.outer {
  zoom: 1;
}
.clearfix:after,
.outer:after {
  clear: both;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  background: #edeeed;
  font-family: PingFangSC-Light, Helvetica Neue, Helvetica, Microsoft Yahei, Arial, Hiragino Sans GB, tahoma, SimSun,
    sans-serif;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #0097e0;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
ol,
ul {
  list-style: none;
}
img {
  border: 0;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
a,
body {
  color: #333;
}
