body {
  .adaptive-m-nav {
    display: none;
  }
  .ans-message-box,
  .ans-message-wrapper {
    z-index: 121 !important;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 960px) {
  .nav-model {
    .logo-box,
    .nav-box,
    .right,
    .file-update-model {
      display: none;
    }
    .adaptive-m-nav {
      display: block;
      position: relative;
      > .m-nav-box {
        position: absolute;
        left: 10px;
        top: 4px;
        a {
          i {
            font-size: 36px;
            color: #fff;
          }
        }
      }
      > .m-user-box {
        position: absolute;
        right: 10px;
        top: 4px;
        a {
          i {
            font-size: 36px;
            color: #fff;
          }
        }
      }
      > .m-nav-list {
        width: 70%;
        height: 100%;
        background: #fff;
        position: fixed;
        left: 0;
        top: 60px;
        box-shadow: 0 8px 6px 3px rgba(0, 0, 0, 0.08);
        ul {
          li {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #eee;
            padding-left: 14px;
            cursor: pointer;
            &.active {
              > span,
              > i {
                color: #0097e0;
              }
            }
            > span {
              font-size: 18px;
              vertical-align: middle;
            }
            > i {
              font-size: 22px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
